@import "tailwindcss";


/* dicomot dari https://colorffy.com/dark-theme-generator?colors=00BAB1-121212 */
:root {
  --dark: #121212;
  --light: #ffffff;
  --tonal-1: #182120;
  --tonal-2 :#2d3635;
  --tonal-3 :#444c4b;
  --tonal-4 :#5c6362;
  --tonal-5 :#757b7a;
  --tonal-6 :#8f9493;
  --surface-1: #121212;
  --surface-2: #282828;
  --surface-3: #3f3f3f;
  --surface-4: #575757;
  --surface-5: #717171;
  --surface-6: #8b8b8b;
  --primary-1: #00bab1;
  --primary-2: #44c2b9;
  --primary-3: #63cac2;
  --primary-4: #7ed2ca;
  --primary-5: #95d9d3;
  --primary-6: #abe1dc;
  
  --background: var(--surface-1);
  --foreground: var(--light);
  --hover: #6161613d;
  --border: var(--surface-3);
}

.label {
  color: var(--light);
}

.helper {
  color: var(--surface-5);
}

.input {
  background-color: var(--surface-3);
  border: 0px;
  color: var(--light);
}

.input::placeholder {
  color: var(--surface-4);
}

.dropdown {
  background-color: var(--surface-3);
  border: 0px;
  color: var(--light);
}

@plugin 'flowbite/plugin';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary-50: #fff5f2;
  --color-primary-100: #fff1ee;
  --color-primary-200: #ffe4de;
  --color-primary-300: #ffd5cc;
  --color-primary-400: #ffbcad;
  --color-primary-500: #fe795d;
  --color-primary-600: #ef562f;
  --color-primary-700: #eb4f27;
  --color-primary-800: #cc4522;
  --color-primary-900: #a5371b;

  --color-secondary-50: #f0f9ff;
  --color-secondary-100: #e0f2fe;
  --color-secondary-200: #bae6fd;
  --color-secondary-300: #7dd3fc;
  --color-secondary-400: #38bdf8;
  --color-secondary-500: #0ea5e9;
  --color-secondary-600: #0284c7;
  --color-secondary-700: #0369a1;
  --color-secondary-800: #075985;
  --color-secondary-900: #0c4a6e;
}

@source "../node_modules/flowbite-svelte/dist";
@source "../node_modules/flowbite-svelte-icons/dist";

@layer base {
  /* disable chrome cancel button */
  input[type="search"]::-webkit-search-cancel-button {
    display: none;
  }
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('/fonts/pjs.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('/fonts/pjs-it.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}